[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {git = "https://github.com/Rapptz/discord.py"}
jishaku = {git = "https://github.com/Gorialis/jishaku"}
aiosqlite = "*"

[dev-packages]
black = "*"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python3.10 boot.py"
format = "sh -c 'black --target-version py310 --line-length 128 . && isort . && autoflake .'"
